h1{
    font-size: 4rem;
}
section {
    padding : 1rem 5rem;
}
p{
    color: #444;
    font-size: 1.6rem;
    line-height: 3.2rem;
    font-weight: 400;
    font-family: inherit;
}
.container{
    box-shadow: 5px 5px 25px var(--shadow-color);
    padding: 1rem;
    border-radius: 8px;
    margin-top: 10px;
}
a{
    text-decoration:unset;
    font-size: 1.6rem;
    line-height: 3rem;
}
html{
    scroll-behavior: smooth;
}