<section>
    <h1 id="introduction">Introduction to this project</h1>
    <div class="container">
        <p>this project just for fun project. On this project i will try learn new idea in my mind especially in Angular js. I hope this project will become my journey to explore about programming as long as i work in my job right now</p>
    </div>
    <br>
    <h1 id="fitureHope">Fiture that i hope</h1>
    <div class="container">
        <p>I hope in this project there are some fiture that can be usefully for me. such as input/ output data, integration API, view document, download document excel, pdf, and docx and anymore.</p>
    </div>
    <h1 id="fitureRelease">Fiture release on this project</h1>
    <div class="container">
        <div>
            <a href="fill-dots">Fill Dots</a>
        </div>
        <div>
            <a href="/movement-dot">Movement Dot</a>
        </div>
        <div>
            <a href="/">Search Data</a>
        </div>
    </div>
</section>
