<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <img class="brand-logo" src="../assets/logo.svg" alt="logo" aria-hidden="true">
    </a>
    <div class="row">
      <a [routerLink]="['/about']" class="nav-item">
        <div >About My App</div>
      </a>
      <a [routerLink]="['/fill-dots']" class="nav-item">
        <div >Fill Dots</div>
      </a>
      <a [routerLink]="['/movement-dot']" class="nav-item">
        <div >Movement Dot</div>
      </a>
      <a [routerLink]="['/magic-buttons']" class="nav-item">
        <div >Magic Buttons</div>
      </a>
    </div>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>