<section>
    <div class="container">
        <div>
            <button class="btn">
                magic-buttons works!
            </button>
            <p>Show Data</p>
        </div>
    </div>
    <div class="container">
        <div>
            <button class="btn">
                magic-buttons works!
            </button>
            <p>Show Data</p>
        </div>
    </div>
    <div class="container">
        <div>
            <button class="btn">
                magic-buttons works!
            </button>
            <p>Show Data</p>
        </div>
    </div>
    <div class="container">
        <div>
            <button class="btn">
                magic-buttons works!
            </button>
            <p>Show Data</p>
        </div>
    </div>
</section>