section{
    padding: 1rem 5rem;
}
.container{
    box-shadow: 5px 25px 25px var(--shadow-color);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    height: 200px;
    margin-bottom: 20px;
}

.btn{
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    border: solid 2px var(--primary-color);
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
}
.btn:active{
    background-color: var(--primary-color);
    color: white;
}